.close-button {
  background: url(../../images/close-button.svg) no-repeat;
  width: 32px;
  height: 32px;
  background-size: contain;
  position: absolute;
  top: calc(-8px + (-32px));
  right: calc(-8px + (-32px));
}

@media screen and (max-width: 600px) {
  .close-button {
    width: 20px;
    height: 20px;
    right: 0;
    top: calc(-16px + (-20px));
  }
}
