.edit-button {
  background: url(../../images/ed-button.svg) no-repeat;
  min-width: 24px;
  height: 24px;
  box-sizing: border-box;
  background-size: contain;
}

@media screen and (max-width: 767px) {
  .edit-button {
    min-width: 18px;
    height: 18px;
  }
}

